.navbar {
    padding-left: .5rem;
    padding-right: .5rem;
}

@media screen and (max-width: 768px) {
    .navbar {
        --bs-navbar-padding-y:0;
    }
    .navbar-button {
        font-size: 0.8rem;
    }
    .navbar-brand {
        font-size: 0.8rem;
    }
    .btn {
        font-size: 0.75rem;
    }
    footer {
        font-size: 0.75rem;
    }
}

body {
    padding-top: 3rem;
    padding-bottom:44px;
}

.main-contents {
    padding: 1.5rem 0.5rem;
}

.editmode-information {
    background: #80c0e0; /* 背景色 */
}

.contents-block {
    padding-bottom: .5rem;
}

.accordion-button {
    display: block;
}

h1 {
    font-size: larger;
    color: #6594e0;/*文字色*/
    /*線の種類（点線）2px 線色*/
    border-bottom: dashed 2px #6594e0;
}

hr {
    border-width: 3px 0 0 0; /* 線の太さを指定 */
    border-style: dashed; /* 線の種類を指定 */
    border-color: cadetblue; /*線の色を指定 */
}

.hidden {
    display: none;
}

.btn-voice {
    background: pink; /* 背景色 */
    color: #444; /* 文字色 */
    padding: 8px 30px; /* 上下の余白、左右の余白 */
    margin: 5px 5px;
    text-decoration: none; /* デフォルトで入る下線を消す */
    border-radius: 30px; /* 角を丸くする */
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

.btn-voice:hover {
    background: palevioletred; /* 背景色 */
}

.btn-voice.button-loading {
    background: pink; /* 背景色 */
    color: #444; /* 文字色 */
    padding: 8px 30px; /* 上下の余白、左右の余白 */
    margin: 5px 5px;
    text-decoration: none; /* デフォルトで入る下線を消す */
    border-radius: 30px; /* 角を丸くする */
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

.btn-voice.button-error {
    background: #444; /* 背景色 */
    color: #444; /* 文字色 */
    padding: 8px 30px; /* 上下の余白、左右の余白 */
    margin: 5px 5px;
    text-decoration: none; /* デフォルトで入る下線を消す */
    border-radius: 30px; /* 角を丸くする */
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

.btn-voice.button-disable {
    background: #aaa; /* 背景色 */
    color: #444; /* 文字色 */
}

.btn-voice.button-disable:hover {
    background: #888; /* 背景色 */
}

.btn-edit {
    background: #99CCFF; /* 背景色 */
    color: #444; /* 文字色 */
    padding: 8px 30px; /* 上下の余白、左右の余白 */
    margin: 5px 5px;
    text-decoration: none; /* デフォルトで入る下線を消す */
    border-radius: 30px; /* 角を丸くする */
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

.btn-edit:hover {
    background: #66CCFF; /* 背景色 */
}

.switch-button {
    text-align: right;
}

input {
    border: 1px solid #0c0c0d4d;
    color: #737373;
    display: inline-block;
    margin: 0 4px;
}

/* 楕円部 */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #B0B0B040;
    border: 1px;
    border-color: #DDDDDD;
	border-style: solid;
    border-radius: 8px;
    height: 16px;
    width: 32px;
}

input[type="checkbox"]:hover {
    background-color: #B0B0B033;
    border-color: #B0B0B07f;
}

input[type="checkbox"]:active {
    background-color: #B0B0B04d;
}

input[type="checkbox"]:focus {
    box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px #0a84ff4d;
}

input[type="checkbox"]:checked {
    background-color: #0060df;
    border-color: #0060df;
}

/* 中の● */
input[type="checkbox"]::before {
    background-color: currentColor;
    border-radius: 6px;
    content: "";
    display: inline-block;
    height: 12px;
    margin-left: 1px;
    margin-top: 1px;
    transition: margin-left .2s cubic-bezier(.07, .95, 0, 1);
    width: 12px;
}

input[type="checkbox"]:checked::before {
    background-color: #ffffff;
    margin-left: 17px;
}